{{- define "main-user-login"}}
    <main class="focussed-main">
    <h1 class="txt-center">HeteroGen</h1>
    <h2 class="txt-center">Data Portal</h2>
    <div class="flex col justify-content-center align-items-center gap-4 mt-8">
      <p>Please sign-in to continue<p/>
      <button 
        id="sign-in-button"
        hx-post="/login"
        hx-swap="none"
        hx-indicator="#page-content"
        class="hidden"
        aria-hidden="true"
      >
        Sign-in
      </button>
      <button 
        id="sign-out-button"
        aria-hidden="true"
      >
        Sign-out
      </button>
    </div>
    </main>
{{- end}}
