{{- define "layout-top"}}
<!DOCTYPE html>
{{- if eq .PageConfig.ContentOnly false}}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Seed management tool"/>

    {{- $titleLen := len .PageConfig.Title}}
    {{- if eq $titleLen 0}}
		<title>HETEROGEN</title>
    {{- else}}
		<title>{{.PageConfig.Title}}</title>
    {{- end}}

		<link href="/static/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">

    {{- if .WebResources.HTMX}}
    <script src="/static/js/htmx.min.js" defer></script>
    {{- end}}
    {{- if .WebResources.HG_COMMON}}
    <script type="module" src="/static/js/scripts/hgCommon.js" defer></script>
    {{- end}}
	</head> 
  <body>
  <div id="toast-container"></div>
  <div id="page-content">
{{- end}}
  {{- template "component-toast" . }}
{{- end}}
