{{- define "page-user-signed-out"}}
{{- template "layout-top" . }}
    <main class="focussed-main">
    <div class="flex col justify-content-center align-items-center gap-4 mt-8">
      <h1>Heterogen</h1>
      <h2>Portal</h2>
      <p>You have been signed-out successfully</p>
    </div>
    </main>
{{- template "layout-bottom" . }}
{{- end}}  