{{- define "page-user-sign-out"}}
{{- template "layout-top" . }}
    <main class="focussed-main">
    <div class="flex col justify-content-center align-items-center gap-4 mt-8">
      <p>Signed-out of application</p>
      <p>Redirecting to sign-out of authentication service</p> 
      <a 
        href="#"
        id="manual-sign-out-redirect-link" 
        aria-label="manual redirect link"
        class="mt-4"
      >
        Redirect manually        
      </a>
      <div class="error-container mt-6"></div>
    </div>
    </main>
{{- template "layout-bottom" . }}
{{- end}}